<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .login-container{
            background:white;
            width:300px;
            border-radius:6px;
            margin: 15% auto auto auto;
            padding:5px 5px 5px 5px;
            border: #2980b9 4px solid; 
        }
         .login-container button {
            border:none;
            color:white;
            background-color:black;

        }
    
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Login Page</title>
</head>
<body>

    <div class="login-container">
            <form method="post" action="/login">
                <%if(typeof msg!='undefined'){%>
                    <div class="alert alert-success" role="alert">
                        <%=msg%>
                    </div>
                <%}%>
                <%if(typeof msgerr!='undefined'){%>
                    <div class="alert alert-danger" role="alert">
                        <%=msgerr%>
                    </div>
                <%}%>
                    <div class="form-group">
                      <label>Email</label>
                      <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                      <label>Password</label>
                      <input type="password" class="form-control" name="password" placeholder="Password">
                      <br>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href="register">Don't have an account yet ?</a>
                  </form>
    </div>
</body>
</html>